body {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, p {
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #140f88 0%, #1e3353 50%, #1c4a63 100%);
    background-attachment: fixed;
}
img {
    border: 3px solid black; /* Define a espessura (3px), o estilo (sólido) e a cor (preto) */
    border-radius: 8px;      /* Opcional: deixa as pontas levemente arredondadas, fica mais moderno */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2); /* Opcional: uma sombra leve para dar profundidade */
}
body, h1, h2, h3, h4, h5, h6, p, a, span, li, td, th, label {
    color: white;
}